body {
    font-size: 14px;
    color: #a4a4a4;
    background-color: #1b1b1b;
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
    overflow: hidden;
    font-family: system-ui;
}
.middle{
    justify-content: center;
    display: flex;
}
.text {
    color: white;
    font-size: 32px;
    cursor: pointer;
}
.hidden {
    max-width: 0;
    opacity: 0;
    transition: 0.5s ease-in;
}
.text:hover .hidden {
    opacity: 1;
    max-width: 1em;
}
.title {
    font-size: 32px;
    padding-top: 10px; 
}
.italica {
    font-weight: lighter;
    color: white;
}
.text-center {
    text-align: center
}
.fa {
    padding: 15px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #a4a4a4;
}
.fa:hover {
    color: white;
    opacity: 1;
}
.footer{
    font-size: 32px;
    color: #AAAAAA;
    text-align: right;
    margin-bottom: 30px;
    right: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.img {
    border-radius: 50%;
    width: 270px;
    height: 270px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    right: 40px;
}
.img2 {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 200px;
    left: 52%;
}


@media (max-width: 720px){
    .fa {
        padding: 5px;
        font-size: 15px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        color: #a4a4a4;
    }
    .footer{
        font-size: 32px;
        position: relative;
        width: 100%;
        color: #AAAAAA;
        z-index: 4;
        text-align: center;
        margin-top: 10px;
        right: 0px;
    }
}